*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    text-align: center;
    margin: 100px 0;
}
input[type="text"]{
    height: 50px;
    width: 500px;
    background: wheat;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 2px ;
    border-radius: 2px;
    padding: 10px 10px;
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background: rgb(177, 175, 175);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 2px ;
    border-radius: 2px;
}
.display{
    text-align: center;
}